body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #89f7fe, #66a6ff);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.forgot-container {
  background: white;
  padding: 35px 45px;
  border-radius: 15px;
  width: 380px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.forgot-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.forgot-container label {
  font-weight: 500;
  color: #333;
  margin-top: 10px;
  display: block;
}

.forgot-container input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 15px;
}

.captcha-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 6px;
  margin-top: 5px;
}

#captcha-text {
  font-size: 18px;
  font-weight: bold;
  color: #2c3e50;
  letter-spacing: 2px;
}

#refresh-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 2px 2px;
  border-radius: 2px;
  cursor: pointer;
  height: auto;
  width: 50px;

}

#refresh-btn:hover {
  background-color: #0056b3;
}

.forgot-container button {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  margin-top: 15px;
  font-size: 16px;
  cursor: pointer;
}

.forgot-container button:hover {
  background-color: #0056b3;
}

/* Footer */
.footer {
  background: #222;
  color: #ccc;
  text-align: center;
  padding: 15px 10px;
  font-size: 14px;
  position: fixed;   
  bottom: 0;
  left: 0;
  width: 100%;
}

.footer p {
  margin: 5px 0;
}