/* General Styling */
body {
  font-family: "Poppins", sans-serif;
  background:#7c93b3;
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Container */
.login-container {
  background: #fff;
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
  width: 350px;
}

.login-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #004aad;
}
.password-field{
  position: relative;
  display: flex;
  flex-direction: column;
}

.password-field input{
  padding-right: 40px;
}

.toggle-password{
  position: absolute;
  right: 10px;
  top: 38px;
  cursor: pointer;
  font-size: 18px;
  color: #004aad;
  user-select: none;
}

.toggle-password:hover{
  color: #003580;
}
form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  font-weight: 500;
}

input, select {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  transition: border-color 0.3s, box-shadow 0.3s;
}

input:focus, select:focus {
  border-color: #004aad;
  box-shadow: 0 0 8px rgba(0,74,173,0.3);
  outline: none;
}

/* Button */
button {
  padding: 12px;
  background: #004aad;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #7c93b3;
}

/* Footer */
.footer {
  background: #222;
  color: #ccc;
  text-align: center;
  padding: 15px 10px;
  font-size: 14px;
  position: fixed;   
  bottom: 0;
  left: 0;
  width: 100%;
}

.footer p {
  margin: 5px 0;
}